<configuration>
<system.webServer>

  <handlers>
    <add name="iisnode" path="service.js" verb="*" modules="iisnode" />
  </handlers>

  <rewrite>
    <rules>
      <rule name="service">
        <match url="service/*" />
        <action type="Rewrite" url="service.js" />
      </rule>
    </rules>
  </rewrite>
  
  <security>
    <requestFiltering>
      <hiddenSegments>
        <add segment="node_modules" />
      </hiddenSegments>
    </requestFiltering>
  </security>    
  <iisnode nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" node_env="production" /> 
  <httpErrors errorMode="Detailed"></httpErrors>
</system.webServer>

</configuration>